.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px 5px;
}

.header__links-list {
  display: flex;
  gap: 28px;
}

.header__links-list-item {
  padding-left: 3px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style-type: none;
}

.header__links-list-item_about {
  margin-left: 3px;
  padding-left: 4px;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  font-size: 0;
}

.header__logo-image {
  position: relative;
  top: 0.5px;
  left: 2px;
  width: 148px;
  font-size: 0;
}

.header__address {
  width: 240px;
}

.address {
  justify-self: end;
}

.address__text {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.address__text_not-underlined {
  text-decoration: none;
}

.cover {
  height: 757px;
  padding: 0 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.lots {
  height: 723px;
  margin: 180px 24px 120px;
}

.cards {
  display: flex;
}

.card {
  width: 334px;
  height: 596px;
}

.card-film {
  background-image: url(../images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card-book {
  background-image: url(../images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.about {
  height: 595px;
  margin: 120px 24px 180px;
}

.footer {
  height: 180px;
  padding: 0 50px;
}

.about-logo-circle {
  width: 240px;
  border-radius: 50%;
  padding: 64px 45.52px 62px 46.48px;
  font-size: 0;
  background-color: #000;
}

.about-logo-image {
  width: 148px;
}

.socials-image {
  width: 48px;
}
