.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  gap: 28.3px;
}

.header__links-list-item {
  padding-left: 3px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  padding-left: 0;
  list-style-type: none;
}

.header__links-list-item_about {
  margin-left: 3px;
  padding-left: 4px;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  font-size: 0;
}

.header__logo-image {
  width: 148px;
  font-size: 0;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address__text {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 4px;
}

.address__text_address {
  text-decoration: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.49px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 33px 12px 31px;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
}

.lots {
  margin: 180px 24px 120px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 334px;
  height: 100%;
  min-height: 596px;
  padding: 48px 40px;
  color: white;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 33px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin: 120px 24px 180px;
}

.about__logo {
  justify-self: center;
  align-self: start;
  max-width: 240px;
  min-height: 240px;
  margin-top: 35px;
  border-radius: 50%;
  padding: 64px 45.52px 62px 46.48px;
  font-size: 0;
  background-color: #000;
}

.about__logo_image {
  max-width: 148px;
}

.about__title {
  margin: 140px 0 103.5px 25px;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 24px;
  margin-left: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px;
}

.footer__address {
  max-width: 264.57px;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  max-width: 48px;
}
